{% extends 'base.html' %}

{% block title %}Ajouter Utilisateur{% endblock %}


{% block content %}
{% if message %} {{message}} {% endif %}
    <h2>Modifier le profil</h2>
    <form action="{{ url_for('modifier_profile') }}" method="post">
        <br>
        <div class="form-group">
        {{ form.nom.label }}
        {{ form.nom(class = "form-group") }}
        <br>
        
        <div class="form-group">
        {{ form.prenom.label }}
        {{ form.prenom(class = "form-group") }}
        <br>
        <div class="form-group">
        {{ form.mdp_anc.label }}
        {{ form.mdp_anc(class = "form-group") }}
        <br>
        <div class="form-group">
        {{ form.mdp_nv.label }}
        {{ form.mdp_nv(class = "form-group") }}
        <br>
        
        {{ form.csrf_token }}
        
        {{ form.submit(class = "btn") }}
    </form>

{% endblock %}
