{% extends 'base.html' %}

{% block content %}
    <h2>Profile Informations </h2>

    <p>Nom: {{admin_data[1]}}</p>
    <br>
    <br>
    <p>Prenom: {{admin_data[2]}}</p>
    <br>
    <br>
    <p>Ajouter un utilisateur</p>
    {% if admin_data[3] == 1 %}
        <form action="{{ url_for('ajouter_utilisateur') }}" method="post">
            <button type="submit" >Ajouter un utilisateur</button>
        </form>
    {% else %}
    <span style="color: red;">Access Interdit </span>
    {% endif %}
    <br>
    <br>
    <form action="{{ url_for('modifier_profile', username = admin_data[4]) }}" method="post">
        <button type="submit" >Modifier le profile</button>
    </form>

{% endblock %}


