{% extends 'base.html' %}

{% block title %}Seances{% endblock %}

{% block content %}<form action="{{ url_for('affectation', ideleve=ideleve, form=form, idformation=idformation, idcours = idcours, nb_seances = nb_seances) }}" method="post">
    <h2>Cocher les séances voulus</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jour</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Selection</th>
            </tr>
        </thead>
        <tbody>
            {% for group in group_disp %}
                <tr>
                    <td>{{ group[0] }}</td>
                    <td>{{ group[1] }}</td>
                    <td>{{ group[2] }}</td>
                    <td>{{ group[3] }}</td>
                    <td><input type="checkbox" name="group_voulu[]" value="{{ group[0] }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Suivant</button>
</form>
{% endblock %}