{% extends 'base.html' %}

{% block title %}Ajouter Formation{% endblock %}

{% block content %}
    {% if message %} {{ message }} {% endif %}
    {% if form %}
        <h2>Ajouter une formation</h2>
        <form action="{{ url_for('ajouter_formation') }}" method="POST">
            <br>
            {{ form.nom_formation.label }}
            {{ form.nom_formation }}
            <br>
            {% if form.nom_formation.errors %}
                {% for error in form.nom_formation.errors %}
                    <b style="color: tomato;"> {{ error }} </b> 
                    <br>
                {% endfor %}
            {% endif %}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    {% endif %}
{% endblock %}
