{% extends 'base.html' %}

{% block title %}Ajouter Cours{% endblock %}

{% block content %}
{% if form %}
  {% if message %} {{ message }} {% endif %}
  <h2>Ajouter un cours</h2>
  <form action="{{ url_for('ajouter_cours', ideleve=ideleve, idformation=idformation) }}" method="POST">
    <br>
    {{ form.cours.label }}
    {{ form.cours }}
    <br>
    {% if form.cours.errors %}
        {% for error in form.cours.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}
    {{ form.csrf_token }}
    {{ form.submit }}
  </form>
{% endif %}
{% endblock %}
