{% extends 'base.html' %}

{% block title %}Ajouter Groupe{% endblock %}

{% block content %}
{% if form %}
  <h2>Ajouter un groupe</h2>
  <form action="{{ url_for('ajouter_groupe') }}" method="POST">
    <br>
      {{ form.nombre_eleves.label }}
      {{ form.nombre_eleves }}
    <br>
    {% if form.nombre_eleves.errors %}
        {% for error in form.nombre_eleves.errors %}
        <b style="color: tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}
    {{ form.csrf_token }}
    {{ form.submit }}
  </form>
{% endif %}
{% endblock %}
