{% extends 'base.html' %}

{% block title %}Ajouter Seance{% endblock %}

{% block content %}
    {% if message %} {{ message }} {% endif %}
    {% if form %}
        <h2>Ajouter une seance</h2>
        <form action="{{ url_for('ajouter_seance') }}" method="POST">
            <br>
            {{ form.type_seance.label }}
            {{ form.type_seance }}
            <br>
            {% if form.type_seance.errors %}
                {% for error in form.type_seance.errors %}
                    <b style="color: tomato;"> {{ error }} </b> 
                    <br>
                {% endfor %}
            {% endif %}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    {% endif %}
{% endblock %}
