

{% extends 'base.html' %}

{% block title %}Eleves Table{% endblock %}

{% block content %}
    <div class="mt-4">
        <h2 class="mb-4">Eleves Table</h2>
        <div class="mb-2">
            <a href="{{ url_for('ajouter_eleve') }}" class="btn btn-ajouter">Ajouter Eleve</a>
        </div>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>N° Telephone élève</th>
                    <th>N° Telephone des parents</th>
                    <th>Date d'inscription</th>
                    <th>Nombre de séances disponible</th>
                    <th>Nombre d'absences</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

