{% extends 'base.html' %}

{% block content %}
    <h2>Eleves Data</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Numéro de Téléphone du Parent</th>
                <th>Date d'Inscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for eleve in eleves_data %}
                <tr>
                    <td>{{ eleve[0] }}</td>
                    <td>{{ eleve[1] }}</td>
                    <td>{{ eleve[2] }}</td>
                    <td>{{ eleve[3] }}</td>
                    <td>{{ eleve[4] }}</td>
                    <td>{{ eleve[5] }}</td>
                    <td>{{ eleve[6] }}</td>
                    <td>
                        <form action="{{ url_for('delete_eleve', id_eleve=eleve[0]) }}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('ajouter_eleve')}}" method="post">
        <button type="submit">Ajouter</button>
    </form>
    
{% endblock %}

