{% extends 'base.html' %}

{% block content %}
    <h2>Factures Data</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Somme Totale</th>
                <th>Date de Paiement</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures_data %}
                <tr>
                    <td>{{ facture[0] }}</td>
                    <td>{{ facture[1] }}</td>
                    <td>{{ facture[2] }}</td>
                    <td>
                        <form action="{{ url_for('delete_facture', id_facture=facture[0]) }}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('ajouter_facture') }}" method="post">
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
