{% extends 'base.html' %}

{% block content %}
    <h2>Factures </h2>
    <form method="post" action="{{ url_for('filt') }}">
        {{ form.csrf_token }}
        
        <label for="jour">Nom:</label>
        {{ form.nom }}
        
        <label for="debut">Prenom:</label>
        {{ form.prenom }}
        <button type="submit">Filtrer</button>
    </form>

    <table>
        <thead>

            <tr>
                <th>ID Facture</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Somme Total</th>
                <th>Date Paiement</th>
                
            </tr>
        </thead>
        <tbody>
            {% for facture in factures_data %}
                <tr>
                    <td>{{ facture[2] }}</td>
                    <td>{{ facture[0] }}</td>
                    <td>{{ facture[1] }}</td>
                    <td>{{ facture[3] }}</td>
                    <td>{{ facture[4] }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
