{% extends 'base.html' %}

{% block content %}
    <h2>Formations Data</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de Formation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations_data %}
                <tr>
                    <td>{{ formation[0] }}</td>
                    <td>{{ formation[1] }}</td>
                    <td>
                        <form action="{{ url_for('delete_formation', id_formation=formation[0]) }}" method="post">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('ajouter_formation') }}" method="post">
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
