{% extends 'base.html' %}

{% block content %}
    <h2>Groupes Table</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Membres</th>
                <th>Action</th>
                <th>Abscences</th>
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupe_data %}
                <tr>
                    <td>{{ groupe[0] }}</td>
                    <td>{{ groupe[1] }}</td>
                    <td>
                        <form action="{{ url_for('gerer_abs_groupe', idgroupe=groupe[0]) }}" method="post">
                            <button type="submit">Gerer les abscences</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}