{% extends 'base.html' %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    <div class="hero-section">
        <p></p>
        <h1>FBM Education SGBD  </h1>
    </div>

    <div class="feature-section">
        <div class="feature">
            <h2>Eleves</h2>
            <p>Gestion des eleves.</p>
            <a href="{{ url_for('eleves') }}" class="btn">Visiter</a>
        </div>


        <div class="feature">
            <h2>Groupes</h2>
            <p>Gestion des groupes.</p>
            <a href="{{ url_for('groupes') }}" class="btn">Visiter</a>
        </div>


        <div class="feature">
            <h2>Factures</h2>
            <p>Transactions financiers.</p>
            <a href="{{ url_for('factures') }}" class="btn">Visiter</a>
        </div>

        <div class="feature">
            <h2>Formations</h2>
            <p>Gérer les formations.</p>
            <a href="{{ url_for('formations') }}" class="btn">Visiter</a>
        </div>
        <div class="feature">
            <h2>Professeurs</h2>
            <p>Gestion des professeurs.</p>
            <a href="{{ url_for('profs') }}" class="btn">Visiter</a>
        </div>
        <div class="feature">
            <h2>Statistiques</h2>
            <p>Stats du centre.</p>
            <a href="{{ url_for('statistiques') }}" class="btn">Visiter</a>
        </div>
    </div>
{% endblock %}