<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login Page</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }} {# Include CSRF token #}
        {{ form.username.label }} {{ form.username(size=20, placeholder="Username", required=true) }}<br>
        {{ form.password.label }} {{ form.password(size=20, placeholder="Password", required=true) }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>

