{% extends 'base.html' %}

{% block title %}Modifier Professeur{% endblock %}


{% block content %}
{% if message %} {{message}} {% endif %}
  <h2>Modifier un professeur</h2>
  <form method="POST" action="{{ url_for('modifier_prof', idenseignant=prof[0])}}">
    <br>
      {{ form.Cin_prof.label }}
      {{ form.Cin_prof }}
    <br>
      {{ form.nom_prof.label }}
      {{ form.nom_prof }}
    <br>
      {{ form.prenom_prof.label }}
      {{ form.prenom_prof }}
    <br>
      {{ form.email_prof.label }}
      {{ form.email_prof }}
    <br>
      {{ form.numtel_prof.label }}
      {{ form.numtel_prof }}
    <br>
      {{ form.csrf_token }}
      {{form.submit}}

    
  </form>
{% endblock %}