{% extends 'base.html' %}

{% block content %}
    <h1>Statistiques</h1>

    <div class="rectangle-container">
        <img src="{{ url_for('static', filename='eleve.png') }}" alt="Image Description">
        <h2><span id="countEleve">{{nbeleve[0]}} </span><br> Elèves</h2>
    </div>
    
    <div class="rectangle-container">
        <img src="{{ url_for('static', filename='enseignements.png') }}" alt="Image Description">
        <h2><span id="countEnseignant">{{nbenseignant[0]}}</span> <br> Enseignants</h2>
    </div>
    <div class="rectangle-container">
        <img src="{{ url_for('static', filename='pile-de-livres.png') }}" alt="Image Description">

        <h2><span>{{ nbcours[0] }}</span> <br> Cours</h2>
    </div>
    <div class="rectangle-container">
        <img src="{{ url_for('static', filename='education.png') }}" alt="Image Description">
        <h2><span>{{ nbformation[0] }}</span> <br> Formations</h2>
    </div>
    <div class="rectangle-container">
        <img src="{{ url_for('static', filename='seance.png') }}" alt="Image Description">
        <h2><span>{{ nbtest[0] }}</span> <br>Eleves avec une séance de test</h2>
    </div>
    
    
    



    <div class="stat-section table-container">
        <h4>Nombre d'élèves par cours avec pourcentage :</h4>
        <table class="table">
            <tr>
                <th>Nom du Cours</th>
                <th>Nombre d'élèves</th>
                <th>Pourcentage</th>
            </tr>
            {% for row in nbelevecours %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>
                        {% set pourcentage = (row[2] / nbeleve[0]) * 100 %}
                        {{ pourcentage|round(2) }}%
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- Dans votre template statistique.html -->

<div class="stat-section graph-container">
    <h4>Nombre d'élèves par cours :</h4>
    <div>
        {{ graph_html_eleves_par_cours|safe }}  <!-- Affichage du graphique Plotly ici -->
    </div>
</div>

<!-- ... (le reste de votre code HTML) -->

    </div>


    <div class="stat-section table-container">
        <h4>Somme par mois :</h4>
        <table class="table">
            <tr>
                <th>Année</th>
                <th>Mois</th>
                <th>Somme en DH</th>
            </tr>
            {% for row in sommeparmois %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="stat-section graph-container">
        <h4>Somme par mois :</h4>
        <div>
            {{ plot|safe }}  <!-- Affichage du graphique Plotly ici -->
        </div>
    </div>
</div>
{% endblock %}
