{% extends 'base.html' %}

{% block content %}
    <h2>Groupes </h2>
    
    <!-- Add the form for filtering -->
    <form method="post" action="{{ url_for('filtrer') }}">
        {{ form.csrf_token }}
        
        <label for="jour">Jour:</label>
        {{ form.jour }}
        
        <label for="debut">Debut:</label>
        {{ form.debut }}
        
        <label for="fin">Fin:</label>
        {{ form.fin }}
        
        <label for="classe">Classe:</label>
        {{ form.classe }}
        
        <button type="submit">Filtrer</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Membres</th>
                <th>Action</th>
                <th>Afficher membres</th>
                <th>Cours</th>
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupe_data %}
                <tr>
                    <td>{{ groupe[0] }}</td>
                    <td>{{ groupe[1] }}</td>
                    
                    <td>
                        {% if groupe[1] >= 4 %}
                        <form action="{{ url_for('gerer_abs_groupe', idgroupe=groupe[0], c = []) }}" method="post">
                            <button type="submit">Gerer les abscences</button>
                        </form>
                        
                        {% else %}
                        <span style="color: red;">Non Actif</span>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('afficher_membres') }}" method="get">
                            <input type="hidden" name="idgroupe" value="{{ groupe[0] }}">
                            <button type="submit">Afficher membres</button>
                        </form>
                    </td>
                    <td>
                        {{ (nomcours[loop.index0])[0]}}
                    </td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
