/* style.css */

/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* General styles for layout */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Main styles */
main {
  padding: 20px 0;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Style for login form */
form {
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

h2 {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for buttons */
.btn {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.btn-ajouter {
  background-color: #28a745;
}

.btn:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
